// Override default variable for headings
$body-font-family = 'Open Sans', sans-serif
$heading-font-family = 'Berkshire Swash', cursive

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
